openapi: 3.1.0
info:
  title: Ald1n CMS Mobile API
  version: 2.2.0
  description: |
    Stabilni JSON ugovor za React Native / Expo klijente. Sve zaštićene rute
    koriste Laravel Sanctum Bearer token. Greške koriste jedinstveni envelope
    sa code i request_id poljima.
servers:
  - url: https://cms.ald1n.com
    description: Production
  - url: http://localhost:8000
    description: Local development
tags:
  - name: Auth
  - name: Bootstrap
  - name: Account
  - name: Devices
  - name: Catalog
  - name: Orders
  - name: AfterSales
  - name: Warranties
  - name: Commissions
  - name: Notifications
  - name: Admin Catalog
    description: Administratorsko kreiranje i metadata za katalog artikala.
  - name: Admin
    description: Centralni Mobile Admin foundation i administratorski moduli.
paths:
  /api/v1/admin/catalog/purchase-costs:
    get:
      tags: [Admin Catalog]
      summary: SuperAdmin masovni pregled nabavnih cena
      operationId: listAdminPurchaseCosts
      parameters:
        - { name: show, in: query, schema: { type: string, enum: [all] } }
      responses:
        '200':
          description: Artikli i stanje pokrivenosti nabavnim cenama.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '403': { description: Dostupno samo Super Administratoru sa catalog.manage_products. }
    put:
      tags: [Admin Catalog]
      summary: SuperAdmin masovni upis nabavnih cena u RSD
      operationId: updateAdminPurchaseCosts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [costs]
              properties:
                costs:
                  type: object
                  maxProperties: 500
                  additionalProperties:
                    type: number
                    minimum: 0.01
                    maximum: 9999999999.99
      responses:
        '200':
          description: Nabavne cene su transakciono sačuvane i auditovane.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }
        '403': { description: Dostupno samo Super Administratoru sa catalog.manage_products. }
        '422': { description: Nevalidna cena, prazan batch ili artikal više nije dostupan. }
  /api/v1/admin/catalog/products/archived:
    get:
      tags: [Admin Catalog]
      summary: Administratorska lista arhiviranih artikala
      operationId: listArchivedAdminCatalogProducts
      parameters:
        - { name: q, in: query, schema: { type: string } }
        - { name: page, in: query, schema: { type: integer, minimum: 1 } }
        - { name: per_page, in: query, schema: { type: integer, enum: [20, 50, 100] } }
      responses:
        '200':
          description: Paginated arhivirani artikli.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }
  /api/v1/admin/catalog/products/{product}:
    get:
      tags: [Admin Catalog]
      summary: Administratorski detalj artikla za edit
      operationId: getAdminCatalogProduct
      parameters:
        - { name: product, in: path, required: true, schema: { type: integer, minimum: 1 } }
      responses:
        '200':
          description: Pun edit payload artikla uključujući specifikacije.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }
        '404': { description: Artikal nije u manage scope-u. }
    put:
      tags: [Admin Catalog]
      summary: Izmena postojećeg artikla
      operationId: updateAdminCatalogProduct
      parameters:
        - { name: product, in: path, required: true, schema: { type: integer, minimum: 1 } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, additionalProperties: true }
      responses:
        '200':
          description: Artikal je izmenjen kroz postojeći ProductAdminService.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }
        '409': { description: Arhivirani artikal prvo mora biti vraćen. }
        '422': { description: Validacija ProductRequest pravila nije prošla. }
  /api/v1/admin/catalog/products/{product}/archive:
    post:
      tags: [Admin Catalog]
      summary: Arhiviranje artikla
      operationId: archiveAdminCatalogProduct
      parameters:
        - { name: product, in: path, required: true, schema: { type: integer, minimum: 1 } }
      responses:
        '200':
          description: Artikal je arhiviran; ponovljen poziv je bezbedan.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }
  /api/v1/admin/catalog/products/{product}/restore:
    post:
      tags: [Admin Catalog]
      summary: Vraćanje artikla iz arhive
      operationId: restoreAdminCatalogProduct
      parameters:
        - { name: product, in: path, required: true, schema: { type: integer, minimum: 1 } }
      responses:
        '200':
          description: Artikal je vraćen iz arhive; ponovljen poziv je bezbedan.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }
  /api/v1/admin/catalog/products/{product}/images:
    get:
      tags: [Admin Catalog]
      summary: Administratorski pregled svih fotografija artikla
      operationId: listAdminCatalogProductImages
      parameters:
        - { name: product, in: path, required: true, schema: { type: integer, minimum: 1 } }
      responses:
        '200':
          description: Fotografije u canonical primary/sort redosledu.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminProductImageCollectionResponse'
        '404': { description: Artikal nije u image-manage scope-u. }
    post:
      tags: [Admin Catalog]
      summary: Dodavanje fotografija novom ili postojećem artiklu
      operationId: uploadAdminCatalogProductImages
      parameters:
        - name: product
          in: path
          required: true
          schema: { type: integer, minimum: 1 }
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [images]
              properties:
                images:
                  type: array
                  maxItems: 20
                  items:
                    type: string
                    format: binary
      responses:
        '201':
          description: Fotografije su obrađene kroz postojeći ProductImageService.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminProductImageUploadResponse'
        '401':
          description: Neautorizovan zahtev.
        '403':
          description: Nedostaje catalog.manage_products ili catalog.manage_images dozvola.
        '404':
          description: Artikal nije vidljiv u administratorskom catalog scope-u.
        '422':
          description: Maksimalno 20 JPG/JPEG/PNG/WebP fajlova do 10 MiB po fajlu.
  /api/v1/admin/catalog/products/{product}/images/reorder:
    post:
      tags: [Admin Catalog]
      summary: Promena redosleda fotografija
      operationId: reorderAdminCatalogProductImages
      parameters:
        - { name: product, in: path, required: true, schema: { type: integer, minimum: 1 } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [image_ids]
              properties:
                image_ids:
                  type: array
                  items: { type: integer, minimum: 1 }
      responses:
        '200':
          description: Novi redosled je sačuvan.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminProductImageCollectionResponse' }
  /api/v1/admin/catalog/products/{product}/images/{image}/primary:
    post:
      tags: [Admin Catalog]
      summary: Postavljanje glavne fotografije
      operationId: setPrimaryAdminCatalogProductImage
      parameters:
        - { name: product, in: path, required: true, schema: { type: integer, minimum: 1 } }
        - { name: image, in: path, required: true, schema: { type: integer, minimum: 1 } }
      responses:
        '200':
          description: Glavna fotografija je promenjena i pomerena na prvo mesto.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminProductImageCollectionResponse' }
  /api/v1/admin/catalog/products/{product}/images/{image}/rotate:
    post:
      tags: [Admin Catalog]
      summary: Fizička rotacija fotografije
      operationId: rotateAdminCatalogProductImage
      parameters:
        - { name: product, in: path, required: true, schema: { type: integer, minimum: 1 } }
        - { name: image, in: path, required: true, schema: { type: integer, minimum: 1 } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [degrees]
              properties:
                degrees: { type: integer, enum: [90, 180, 270] }
      responses:
        '200':
          description: Fotografija je rotirana; legacy slika koristi copy-on-write.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminProductImageCollectionResponse' }
        '422': { description: Rotacija nije tehnički moguća ili format nije podržan. }
  /api/v1/admin/catalog/products/{product}/images/{image}:
    delete:
      tags: [Admin Catalog]
      summary: Brisanje lokalne fotografije artikla
      operationId: deleteAdminCatalogProductImage
      parameters:
        - { name: product, in: path, required: true, schema: { type: integer, minimum: 1 } }
        - { name: image, in: path, required: true, schema: { type: integer, minimum: 1 } }
      responses:
        '200':
          description: Fotografija je uklonjena; ako je bila glavna, sledeća postaje glavna.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminProductImageCollectionResponse' }
        '422': { description: Legacy fotografija mora prvo biti rotirana u lokalnu copy-on-write kopiju. }
  # MOBILE_V0_8_SUPERADMIN_DIRECT_SALE_BATCH10
  /api/v1/admin/catalog/products/{product}/direct-sale/options:
    get:
      tags: [Admin Catalog]
      summary: SuperAdmin opcije za direktnu prodaju artikla
      operationId: getAdminCatalogProductDirectSaleOptions
      parameters:
        - { name: product, in: path, required: true, schema: { type: integer, minimum: 1 } }
      responses:
        '200':
          description: Artikalski lager, referentna kataloška RSD cena, payment metode i stabilni idempotency ključ.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminDirectSaleOptionsEnvelope' }
        '403': { description: Samo SuperAdministrator može evidentirati direktnu prodaju. }
        '404': { description: Artikal nije u administratorskom manage scope-u. }
  /api/v1/admin/catalog/products/{product}/direct-sale:
    post:
      tags: [Admin Catalog]
      summary: Evidentiranje direktne prodaje artikla
      description: Koristi postojeći DirectSaleService. Identičan retry sa istim idempotency ključem ne kreira duplu prodaju.
      operationId: recordAdminCatalogProductDirectSale
      parameters:
        - { name: product, in: path, required: true, schema: { type: integer, minimum: 1 } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminDirectSaleInput'
      responses:
        '201':
          description: Standardna direktna prodaja se odmah evidentira kao plaćena i dostavljena; deferred_payment odmah evidentira dostavu i lager, a naplatu vodi kroz postojeći Receivables plan.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminDirectSaleResponse' }
        '403': { description: Samo SuperAdministrator može evidentirati direktnu prodaju. }
        '404': { description: Artikal nije u administratorskom manage scope-u. }
        '422': { description: Validacija, lager, EUR/RSD kurs ili idempotency ugovor nisu prošli. }
        '429': { description: Previše administratorskih write zahteva. }
  # MOBILE_V1_0_ADMIN_CATALOG_DICTIONARIES_BATCH22
  /api/v1/admin/catalog/dictionaries/brands/reorder:
    patch:
      tags: [Admin Catalog]
      summary: Promena redosleda globalnih brendova bez dupliranja Brand Manager CRUD-a
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ids]
              properties:
                ids: { type: array, minItems: 1, maxItems: 1000, items: { type: integer, minimum: 1 } }
      responses:
        '200': { description: Raspored brendova je sačuvan. }
        '403': { description: Nedostaje catalog.manage_taxonomy dozvola. }
        '422': { description: Lista sadrži nepostojeću stavku ili nije validna. }
  /api/v1/admin/catalog/dictionaries/product-types/{productType}:
    get:
      tags: [Admin Catalog]
      summary: Pun Mobile konfiguracioni detalj tipa proizvoda
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: productType, in: path, required: true, schema: { type: integer, minimum: 1 } }
      responses:
        '200': { description: Tip, automatska kategorija, kompletnost, name-template i sva polja sa pivot konfiguracijom. }
        '403': { description: Nedostaje catalog.manage_taxonomy dozvola. }
        '404': { description: Tip proizvoda ne postoji. }
  /api/v1/admin/catalog/dictionaries/product-types/{productType}/fields/reorder:
    patch:
      tags: [Admin Catalog]
      summary: Promena redosleda specifikacija dodeljenih tipu proizvoda
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: productType, in: path, required: true, schema: { type: integer, minimum: 1 } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ids]
              properties:
                ids: { type: array, minItems: 1, maxItems: 500, items: { type: integer, minimum: 1 } }
      responses:
        '200': { description: Raspored dodeljenih specifikacija je sačuvan. }
        '403': { description: Nedostaje catalog.manage_taxonomy dozvola. }
        '422': { description: Lista sadrži polje koje nije dodeljeno ovom tipu. }
  /api/v1/admin/catalog/dictionaries/specification-fields/{item}/purge:
    delete:
      tags: [Admin Catalog]
      summary: Bezbedno trajno brisanje specifikacionog polja
      description: Zahteva tačan naziv polja i koristi isti SpecificationFieldLifecycleService kao Laravel CMS; čisti vrednosti, opcije, zavisnosti i dodele te preračunava kompletnost.
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: item, in: path, required: true, schema: { type: integer, minimum: 1 } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [confirm_name]
              properties:
                confirm_name: { type: string, maxLength: 120 }
      responses:
        '200': { description: Polje i povezani podaci su bezbedno trajno obrisani. }
        '403': { description: Nedostaje catalog.manage_taxonomy dozvola. }
        '422': { description: Naziv za potvrdu se ne podudara. }
  /api/v1/admin/catalog/dictionaries/{resource}/reorder:
    patch:
      tags: [Admin Catalog]
      summary: Promena redosleda kataloškog šifarnika
      security: [{ bearerAuth: [] }]
      parameters:
        - name: resource
          in: path
          required: true
          schema: { type: string, enum: [categories, product-lines, product-types, specification-fields] }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ids]
              properties:
                ids: { type: array, minItems: 1, maxItems: 1000, items: { type: integer, minimum: 1 } }
      responses:
        '200': { description: Novi raspored je sačuvan. }
        '403': { description: Nedostaje catalog.manage_taxonomy dozvola. }
        '422': { description: Lista nije validna ili sadrži nepostojeću stavku. }
  /api/v1/admin/catalog/dictionaries/{resource}:
    get:
      tags: [Admin Catalog]
      summary: Lista i reference za Mobile kataloški šifarnik
      security: [{ bearerAuth: [] }]
      parameters:
        - name: resource
          in: path
          required: true
          schema: { type: string, enum: [categories, product-lines, product-types, specification-fields] }
      responses:
        '200': { description: Stavke, reference, opcije i capabilities za izabrani šifarnik. }
        '403': { description: Nedostaje catalog.manage_taxonomy dozvola. }
    post:
      tags: [Admin Catalog]
      summary: Kreiranje stavke kataloškog šifarnika
      description: Koristi isti CatalogDictionaryManagerService, automatsku kategoriju tipa, completeness i specification dependency servise kao CMS.
      security: [{ bearerAuth: [] }]
      parameters:
        - name: resource
          in: path
          required: true
          schema: { type: string, enum: [categories, product-lines, product-types, specification-fields] }
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, additionalProperties: true }
      responses:
        '201': { description: Stavka je kreirana i prateći lifecycle je izvršen. }
        '403': { description: Nedostaje catalog.manage_taxonomy dozvola. }
        '422': { description: Validacija ili dependency/completeness pravilo nije prošlo. }
  /api/v1/admin/catalog/dictionaries/{resource}/{item}:
    put:
      tags: [Admin Catalog]
      summary: Izmena stavke kataloškog šifarnika
      security: [{ bearerAuth: [] }]
      parameters:
        - name: resource
          in: path
          required: true
          schema: { type: string, enum: [categories, product-lines, product-types, specification-fields] }
        - { name: item, in: path, required: true, schema: { type: integer, minimum: 1 } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, additionalProperties: true }
      responses:
        '200': { description: Stavka je izmenjena kroz shared CMS/Mobile business lifecycle. }
        '403': { description: Nedostaje catalog.manage_taxonomy dozvola. }
        '404': { description: Stavka ne postoji. }
        '422': { description: Validacija ili lifecycle pravilo nije prošlo. }
    delete:
      tags: [Admin Catalog]
      summary: Deaktiviranje stavke bez fizičkog brisanja
      security: [{ bearerAuth: [] }]
      parameters:
        - name: resource
          in: path
          required: true
          schema: { type: string, enum: [categories, product-lines, product-types, specification-fields] }
        - { name: item, in: path, required: true, schema: { type: integer, minimum: 1 } }
      responses:
        '200': { description: Stavka je deaktivirana i istorijske veze su sačuvane. }
        '403': { description: Nedostaje catalog.manage_taxonomy dozvola. }
        '404': { description: Stavka ne postoji. }

  # MOBILE_V0_9_GLOBAL_BRAND_MANAGER_BATCH3
  /api/v1/admin/catalog/brands:
    get:
      tags: [Admin Catalog]
      summary: Globalni Brand Manager - lista brendova sa type-scoped vezama i linijama
      operationId: listAdminCatalogBrands
      security:
        - bearerAuth: []
      parameters:
        - { name: q, in: query, schema: { type: string, maxLength: 190 } }
        - { name: product_type_id, in: query, schema: { type: integer, minimum: 1 } }
      responses:
        '200':
          description: Globalni brendovi, dinamički tipovi, linije i capabilities.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }
        '401': { description: Neautorizovan zahtev. }
        '403': { description: Nedostaje catalog.manage_taxonomy dozvola. }
    post:
      tags: [Admin Catalog]
      summary: Kreira jedan globalni brend i povezuje ga sa izabranim tipovima
      operationId: createAdminCatalogBrand
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, status, sort_order, product_type_ids]
              properties:
                name: { type: string, maxLength: 120 }
                description: { type: [string, 'null'], maxLength: 65000 }
                website_url: { type: [string, 'null'], format: uri, maxLength: 255 }
                status: { type: string, enum: [active, inactive] }
                sort_order: { type: integer, minimum: 0, maximum: 1000000 }
                product_type_ids:
                  type: array
                  minItems: 1
                  uniqueItems: true
                  items: { type: integer, minimum: 1 }
                line_names_by_type:
                  type: object
                  additionalProperties:
                    type: array
                    maxItems: 10
                    items: { type: string, maxLength: 120 }
      responses:
        '201':
          description: Brend je kreiran.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }
        '401': { description: Neautorizovan zahtev. }
        '403': { description: Nedostaje catalog.manage_taxonomy dozvola. }
        '422': { description: Validacija nije prošla ili je globalni naziv duplikat. }
  /api/v1/admin/catalog/brands/options:
    get:
      tags: [Admin Catalog]
      summary: Dinamički tipovi, statusi i ograničenja za Brand Manager
      operationId: getAdminCatalogBrandOptions
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Brand Manager opcije.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }
        '401': { description: Neautorizovan zahtev. }
        '403': { description: Nedostaje catalog.manage_taxonomy dozvola. }
  /api/v1/admin/catalog/brands/{brand}:
    put:
      tags: [Admin Catalog]
      summary: Menja globalni brend, type-scoped veze i do deset kuriranih linija po tipu
      operationId: updateAdminCatalogBrand
      security:
        - bearerAuth: []
      parameters:
        - { name: brand, in: path, required: true, schema: { type: integer, minimum: 1 } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, status, sort_order, product_type_ids]
              properties:
                name: { type: string, maxLength: 120 }
                description: { type: [string, 'null'], maxLength: 65000 }
                website_url: { type: [string, 'null'], format: uri, maxLength: 255 }
                status: { type: string, enum: [active, inactive] }
                sort_order: { type: integer, minimum: 0, maximum: 1000000 }
                product_type_ids:
                  type: array
                  minItems: 1
                  uniqueItems: true
                  items: { type: integer, minimum: 1 }
                line_names_by_type:
                  type: object
                  additionalProperties:
                    type: array
                    maxItems: 10
                    items: { type: string, maxLength: 120 }
      responses:
        '200':
          description: Brend je sačuvan.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }
        '401': { description: Neautorizovan zahtev. }
        '403': { description: Nedostaje catalog.manage_taxonomy dozvola. }
        '404': { description: Brend nije pronađen. }
        '422': { description: Validacija nije prošla ili odnos ne može bezbedno biti uklonjen. }
  /api/v1/admin/catalog/options:
    get:
      tags: [Admin Catalog]
      summary: Opcije za kreiranje artikla
      operationId: getAdminCatalogCreateOptions
      responses:
        '200':
          description: Aktivni tipovi, brendovi, linije i podrazumevane vrednosti.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminCatalogCreateOptionsEnvelope'
        '401':
          description: Neautorizovan zahtev.
        '403':
          description: Nedostaje catalog.manage_products dozvola.
  /api/v1/admin/catalog/products:
    get:
      tags: [Admin Catalog]
      summary: Administratorska lista aktivnih/ne-arhiviranih artikala
      operationId: listAdminCatalogProducts
      parameters:
        - { name: q, in: query, schema: { type: string } }
        - { name: status, in: query, schema: { type: string, enum: [draft, active, inactive] } }
        - { name: page, in: query, schema: { type: integer, minimum: 1 } }
        - { name: per_page, in: query, schema: { type: integer, enum: [20, 50, 100] } }
      responses:
        '200':
          description: Paginated administratorski katalog.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }
        '401': { description: Neautorizovan zahtev. }
        '403': { description: Nedostaje catalog.manage_products dozvola. }
    post:
      tags: [Admin Catalog]
      summary: Kreiranje novog artikla
      operationId: createAdminCatalogProduct
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminProductCreateInput'
      responses:
        '201':
          description: Artikal je kreiran kroz postojeći ProductAdminService.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminProductCreateResponse'
        '401':
          description: Neautorizovan zahtev.
        '403':
          description: Nedostaje catalog.manage_products dozvola.
        '422':
          description: ProductRequest validacija nije prošla.
  /api/v1/auth/google:
    post:
      summary: Google login ili registracija mobilnog korisnika
      description: Verifikovani Google ID token se proverava na Laravel backendu. Aktivni postojeći korisnik dobija Sanctum token; novi korisnik može biti kreiran kao pending prema CMS pravilima registracije.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [id_token, device_name]
              properties:
                id_token: { type: string }
                device_name: { type: string }
      responses:
        '201': { description: Prijava uspela i Sanctum token je izdat }
        '202': { description: Registracija je kreirana i čeka aktivaciju }
        '422': { description: Google identitet ili nalog nije prihvaćen }

  /api/v1/auth/token:
    post:
      tags: [Auth]
      summary: Prijava i izdavanje Sanctum tokena
      security: []
      operationId: createAuthToken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [login, password, device_name]
              properties:
                login: { type: string, maxLength: 190 }
                password: { type: string, maxLength: 4096 }
                device_name: { type: string, maxLength: 120 }
      responses:
        '201':
          description: Token je izdat
          content:
            application/json:
              schema:
                type: object
                required: [token, token_type, user, permissions, api_version]
                properties:
                  token: { type: string }
                  token_type: { type: string, const: Bearer }
                  expires_at: { type: [string, 'null'], format: date-time }
                  user: { $ref: '#/components/schemas/UserSummary' }
                  permissions:
                    type: array
                    items: { type: string }
                  api_version: { type: string, const: v1 }
        '422': { $ref: '#/components/responses/ValidationError' }
        '429': { $ref: '#/components/responses/RateLimited' }
    delete:
      tags: [Auth]
      summary: Opoziv trenutnog tokena i vezanog uređaja
      operationId: revokeCurrentAuthToken
      responses:
        '204': { description: Token je opozvan }
        '401': { $ref: '#/components/responses/Unauthenticated' }
  /api/v1/bootstrap:
    get:
      tags: [Bootstrap]
      summary: Početni mobilni payload
      operationId: getMobileBootstrap
      responses:
        '200':
          description: Korisnik, dozvole, feature flagovi i verzije aplikacije
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: object
                    required: [user, permissions, features, notification_counts, notification_preferences, app]
                    properties:
                      user: { $ref: '#/components/schemas/User' }
                      permissions:
                        type: array
                        items: { type: string }
                      features:
                        type: object
                        additionalProperties: { type: boolean }
                      notification_counts:
                        type: object
                        required: [unread]
                        properties:
                          unread: { type: integer, minimum: 0 }
                      notification_preferences: { $ref: '#/components/schemas/NotificationPreferences' }
                      app: { $ref: '#/components/schemas/AppContract' }
        '401': { $ref: '#/components/responses/Unauthenticated' }
  /api/v1/me:
    get:
      tags: [Account]
      summary: Trenutni korisnik
      operationId: getCurrentUser
      responses:
        '200':
          description: Korisnički podaci i dozvole
        '401': { $ref: '#/components/responses/Unauthenticated' }
    patch:
      tags: [Account]
      summary: Ažuriranje profila
      operationId: updateCurrentUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                first_name: { type: string, maxLength: 100 }
                last_name: { type: [string, 'null'], maxLength: 100 }
                phone: { type: [string, 'null'], maxLength: 40 }
                address: { type: [string, 'null'], maxLength: 255 }
                city: { type: [string, 'null'], maxLength: 120 }
                postal_code: { type: [string, 'null'], maxLength: 20 }
      responses:
        '200':
          description: Profil je sačuvan
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/User' }
        '422': { $ref: '#/components/responses/ValidationError' }
  /api/v1/me/password:
    put:
      tags: [Account]
      summary: Promena lozinke i opoziv svih API tokena
      operationId: updateCurrentUserPassword
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [current_password, password, password_confirmation]
              properties:
                current_password: { type: string }
                password: { type: string, minLength: 12 }
                password_confirmation: { type: string }
      responses:
        '200':
          description: Lozinka je promenjena; klijent mora ponovo da se prijavi
          content:
            application/json:
              schema:
                type: object
                required: [message, reauthenticate]
                properties:
                  message: { type: string }
                  reauthenticate: { type: boolean, const: true }
        '422': { $ref: '#/components/responses/ValidationError' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /api/v1/me/notification-preferences:
    put:
      tags: [Account]
      summary: Ažuriranje kanala i kategorija obaveštenja
      operationId: updateNotificationPreferences
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/NotificationPreferences' }
      responses:
        '200':
          description: Preference su sačuvane
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/NotificationPreferences' }
        '422': { $ref: '#/components/responses/ValidationError' }
  /api/v1/devices:
    get:
      tags: [Devices]
      summary: Lista mobilnih uređaja korisnika
      operationId: listMobileDevices
      parameters:
        - in: query
          name: include_revoked
          schema: { type: boolean, default: false }
      responses:
        '200':
          description: Uređaji
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/MobileDevice' }
    post:
      tags: [Devices]
      summary: Registracija ili osvežavanje instalacije
      operationId: registerMobileDevice
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/MobileDeviceInput' }
      responses:
        '201':
          description: Uređaj je kreiran
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/MobileDevice' }
        '200':
          description: Postojeća instalacija je osvežena
        '422': { $ref: '#/components/responses/ValidationError' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /api/v1/devices/{device}:
    parameters:
      - in: path
        name: device
        required: true
        schema: { type: integer }
    patch:
      tags: [Devices]
      summary: Ažuriranje uređaja ili push tokena
      operationId: updateMobileDevice
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/MobileDeviceUpdateInput' }
      responses:
        '200':
          description: Uređaj je ažuriran
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/MobileDevice' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/ValidationError' }
        '429': { $ref: '#/components/responses/RateLimited' }
    delete:
      tags: [Devices]
      summary: Opoziv mobilne instalacije i njenog Sanctum tokena
      operationId: revokeMobileDevice
      responses:
        '204': { description: Uređaj je opozvan }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /api/v1/catalog/filters:
    get:
      tags: [Catalog]
      summary: Dostupni kataloški filteri i šifarnici
      operationId: getCatalogFilters
      responses:
        '200':
          description: Brendovi, tipovi, linije, kategorije, specifikacije i sortiranja
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/v1/products:
    get:
      tags: [Catalog]
      summary: Straničena lista proizvoda
      operationId: listProducts
      parameters:
        - { in: query, name: q, schema: { type: string } }
        - { in: query, name: brand_id, schema: { type: integer } }
        - { in: query, name: product_type_id, schema: { type: integer } }
        - { in: query, name: product_line_id, schema: { type: integer } }
        - { in: query, name: category_id, schema: { type: integer } }
        - { in: query, name: stock, schema: { type: string, enum: [available, low, out] } }
        - { in: query, name: sort, schema: { type: string, enum: [newest, updated, name, price_asc, price_desc] } }
        - { in: query, name: per_page, schema: { type: integer, minimum: 6, maximum: 60, default: 20 } }
      responses:
        '200': { description: Lista proizvoda }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/v1/products/{slug}:
    get:
      tags: [Catalog]
      summary: Detalj vidljivog proizvoda
      operationId: getProduct
      parameters:
        - in: path
          name: slug
          required: true
          schema: { type: string }
      responses:
        '200': { description: Proizvod }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/v1/orders/options:
    get:
      tags: [Orders]
      summary: Opcije potrebne za kreiranje porudžbine
      operationId: getOrderOptions
      responses:
        '200':
          description: Načini plaćanja, uključujući Odloženo plaćanje sa server-driven requires_due_date, bankovni računi, primaoci i podrazumevana adresa
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/v1/orders:
    get:
      tags: [Orders]
      summary: Sopstvene porudžbine
      operationId: listOrders
      responses:
        '200': { description: Straničena lista porudžbina }
    post:
      tags: [Orders]
      summary: Kreiranje porudžbine
      operationId: createOrder
      parameters:
        - in: header
          name: Idempotency-Key
          required: true
          schema: { type: string, maxLength: 200 }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [shipping_full_name, shipping_address, shipping_city, shipping_postal_code, shipping_phone, payment_method, items]
              properties:
                supplier_user_id: { type: [integer, 'null'] }
                shipping_full_name: { type: string, maxLength: 190 }
                shipping_address: { type: string, maxLength: 255 }
                shipping_city: { type: string, maxLength: 120 }
                shipping_postal_code: { type: string, maxLength: 20 }
                shipping_phone: { type: string, maxLength: 40 }
                customer_note: { type: [string, 'null'], maxLength: 5000 }
                payment_method: { type: string, enum: [cash_on_delivery, bank_transfer, deferred_payment] }
                bank_account_id: { type: [integer, 'null'], description: Obavezno samo za bank_transfer. }
                payment_due_at: { type: [string, 'null'], format: date, description: Obavezno za deferred_payment; mora biti današnji ili budući datum. }
                items:
                  type: array
                  minItems: 1
                  maxItems: 50
                  items:
                    type: object
                    required: [product_id, quantity]
                    properties:
                      product_id: { type: integer }
                      quantity: { type: integer, minimum: 1, maximum: 1000 }
      responses:
        '201': { description: Porudžbina je kreirana }
        '422': { $ref: '#/components/responses/ValidationError' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /api/v1/orders/assigned:
    get:
      tags: [Orders]
      summary: Porudžbine dodeljene prijavljenom odgovornom licu
      operationId: listAssignedOrders
      parameters:
        - in: query
          name: page
          schema: { type: integer, minimum: 1, default: 1 }
      responses:
        '200': { description: Straničena lista porudžbina dodeljenih trenutnom odgovornom licu }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/v1/orders/assigned/{order}:
    get:
      tags: [Orders]
      summary: Detalj porudžbine dodeljene prijavljenom odgovornom licu
      operationId: getAssignedOrder
      parameters:
        - in: path
          name: order
          required: true
          schema: { type: integer }
      responses:
        '200': { description: Dodeljena porudžbina }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/v1/orders/{order}:
    get:
      tags: [Orders]
      summary: Detalj sopstvene porudžbine
      operationId: getOrder
      parameters:
        - in: path
          name: order
          required: true
          schema: { type: integer }
      responses:
        '200': { description: Porudžbina }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/v1/orders/{order}/cancel:
    post:
      tags: [Orders]
      summary: Otkazivanje sopstvene porudžbine
      operationId: cancelOrder
      parameters:
        - in: path
          name: order
          required: true
          schema: { type: integer }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                note: { type: [string, 'null'], maxLength: 1000 }
      responses:
        '200': { description: Porudžbina je otkazana }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/ValidationError' }
  /api/v1/orders/{order}/post-create:
    get:
      tags: [Orders]
      summary: Customer post-create payment, document and delivery summary
      operationId: getOrderPostCreate
      parameters:
        - in: path
          name: order
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: Customer-safe post-create order state
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: '#/components/schemas/OrderPostCreate' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /api/v1/orders/{order}/payments/proof:
    post:
      tags: [Orders]
      summary: Submit bank-transfer payment proof
      operationId: submitOrderPaymentProof
      parameters:
        - in: path
          name: order
          required: true
          schema: { type: integer }
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [amount_rsd, paid_at, proof]
              properties:
                amount_rsd: { type: number, minimum: 0.01, maximum: 9999999999.99 }
                paid_at: { type: string, format: date-time }
                reference: { type: [string, 'null'], maxLength: 190 }
                note: { type: [string, 'null'], maxLength: 2000 }
                proof: { type: string, format: binary }
      responses:
        '201':
          description: Payment proof submitted for verification
          content:
            application/json:
              schema:
                type: object
                required: [message, data]
                properties:
                  message: { type: string }
                  data: { $ref: '#/components/schemas/OrderPaymentLedgerEntry' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/ValidationError' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /api/v1/orders/{order}/payments/{payment}/proof:
    get:
      tags: [Orders]
      summary: Bearer download of customer payment proof
      operationId: downloadOrderPaymentProof
      parameters:
        - { in: path, name: order, required: true, schema: { type: integer } }
        - { in: path, name: payment, required: true, schema: { type: integer } }
      responses:
        '200':
          description: Private payment proof
          headers:
            Cache-Control:
              schema: { type: string, example: "private, no-store, max-age=0" }
            X-Content-Type-Options:
              schema: { type: string, example: nosniff }
          content:
            application/pdf: { schema: { type: string, format: binary } }
            image/jpeg: { schema: { type: string, format: binary } }
            image/png: { schema: { type: string, format: binary } }
            image/webp: { schema: { type: string, format: binary } }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /api/v1/orders/{order}/documents/confirmation.pdf:
    get:
      tags: [Orders]
      summary: Issue or return customer order-confirmation PDF
      operationId: downloadOrderConfirmationPdf
      parameters:
        - { in: path, name: order, required: true, schema: { type: integer } }
      responses:
        '200':
          description: Private order-confirmation PDF
          headers:
            Cache-Control:
              schema: { type: string, example: "private, no-store, max-age=0" }
          content:
            application/pdf: { schema: { type: string, format: binary } }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/ValidationError' }
        '503': { description: PDF rendering unavailable }

  /api/v1/orders/{order}/documents/{document}.pdf:
    get:
      tags: [Orders]
      summary: Bearer download of an issued customer order document
      operationId: downloadOrderDocumentPdf
      parameters:
        - { in: path, name: order, required: true, schema: { type: integer } }
        - { in: path, name: document, required: true, schema: { type: integer } }
      responses:
        '200':
          description: Private issued order PDF
          headers:
            Cache-Control:
              schema: { type: string, example: "private, no-store, max-age=0" }
          content:
            application/pdf: { schema: { type: string, format: binary } }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/ValidationError' }
        '503': { description: PDF rendering unavailable }

  /api/v1/orders/{order}/delivery-proof:
    get:
      tags: [Orders]
      summary: Bearer download of customer delivery proof
      operationId: downloadOrderDeliveryProof
      parameters:
        - { in: path, name: order, required: true, schema: { type: integer } }
      responses:
        '200':
          description: Private delivery proof
          headers:
            Cache-Control:
              schema: { type: string, example: "private, no-store, max-age=0" }
            X-Content-Type-Options:
              schema: { type: string, example: nosniff }
          content:
            application/pdf: { schema: { type: string, format: binary } }
            image/jpeg: { schema: { type: string, format: binary } }
            image/png: { schema: { type: string, format: binary } }
            image/webp: { schema: { type: string, format: binary } }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/v1/after-sales:
    get:
      tags: [AfterSales]
      summary: Lista vidljivih postprodajnih slučajeva
      operationId: listAfterSalesCases
      parameters:
        - { in: query, name: page, schema: { type: integer, minimum: 1, default: 1 } }
      responses:
        '200':
          description: Straničena lista slučajeva
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/AfterSalesCaseSummary' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /api/v1/after-sales/{case}:
    get:
      tags: [AfterSales]
      summary: Detalj vidljivog postprodajnog slučaja
      operationId: getAfterSalesCase
      parameters:
        - in: path
          name: case
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: Detalj slučaja sa stavkama, radnjama, javnim porukama i prilozima
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/AfterSalesCase' }
        '404': { $ref: '#/components/responses/NotFound' }

  /api/v1/orders/{order}/after-sales/options:
    get:
      tags: [AfterSales]
      summary: Opcije za otvaranje postprodajnog slučaja za porudžbinu
      operationId: getAfterSalesOptions
      parameters:
        - in: path
          name: order
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: Porudžbina, stavke, šifarnici i upload limiti
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/AfterSalesOptions' }
        '404': { $ref: '#/components/responses/NotFound' }

  /api/v1/orders/{order}/after-sales:
    post:
      tags: [AfterSales]
      summary: Otvaranje postprodajnog slučaja
      operationId: createAfterSalesCase
      parameters:
        - in: path
          name: order
          required: true
          schema: { type: integer }
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [case_type, priority, subject, description, items]
              properties:
                case_type: { type: string, enum: [complaint, return, service] }
                priority: { type: string, enum: [low, normal, high, urgent] }
                subject: { type: string, maxLength: 190 }
                description: { type: string, minLength: 20, maxLength: 10000 }
                requested_resolution: { type: [string, 'null'], enum: [repair, replacement, partial_refund, full_refund, return, inspection, other, null] }
                items:
                  type: object
                  minProperties: 1
                  description: Ključevi objekta su ID-jevi stavki porudžbine.
                  additionalProperties:
                    type: object
                    required: [selected, quantity]
                    properties:
                      selected: { type: boolean }
                      quantity: { type: integer, minimum: 1, maximum: 999 }
                      issue_description: { type: [string, 'null'], maxLength: 2000 }
                attachments:
                  type: array
                  maxItems: 6
                  items: { type: string, format: binary }
      responses:
        '201':
          description: Postprodajni slučaj je kreiran
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/AfterSalesCase' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/ValidationError' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /api/v1/after-sales/{case}/messages:
    post:
      tags: [AfterSales]
      summary: Slanje javne poruke u postprodajnom slučaju
      operationId: createAfterSalesMessage
      parameters:
        - in: path
          name: case
          required: true
          schema: { type: integer }
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [body]
              properties:
                body: { type: string, maxLength: 10000 }
                attachments:
                  type: array
                  maxItems: 6
                  items: { type: string, format: binary }
      responses:
        '201':
          description: Poruka je poslata
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/AfterSalesMessage' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/ValidationError' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /api/v1/after-sales/attachments/{attachment}:
    get:
      tags: [AfterSales]
      summary: Preuzimanje vidljivog privatnog priloga
      operationId: downloadAfterSalesAttachment
      parameters:
        - in: path
          name: attachment
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: Privatni fajl
          content:
            application/octet-stream:
              schema: { type: string, format: binary }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/v1/field-work-order-attachments/{attachment}:
    get:
      tags: [AfterSales]
      summary: Preuzimanje javnog priloga terenskog naloga
      operationId: downloadFieldWorkOrderAttachment
      parameters:
        - in: path
          name: attachment
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: Autorizovani javni prilog terenskog naloga
          content:
            application/octet-stream:
              schema: { type: string, format: binary }
        '404': { $ref: '#/components/responses/NotFound' }

  /api/v1/warranties:
    get:
      tags: [Warranties]
      summary: Lista sopstvenih garancija
      operationId: listWarranties
      parameters:
        - { in: query, name: page, schema: { type: integer, minimum: 1, default: 1 } }
      responses:
        '200':
          description: Straničena lista garancija autentifikovanog korisnika
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/WarrantySummary' }
                  links:
                    type: object
                    properties:
                      first: { type: [string, 'null'] }
                      last: { type: [string, 'null'] }
                      prev: { type: [string, 'null'] }
                      next: { type: [string, 'null'] }
                  meta:
                    type: object
                    properties:
                      current_page: { type: integer }
                      from: { type: [integer, 'null'] }
                      last_page: { type: integer }
                      path: { type: string }
                      per_page: { type: integer }
                      to: { type: [integer, 'null'] }
                      total: { type: integer }
        '403': { $ref: '#/components/responses/Forbidden' }

  /api/v1/warranties/{warranty}.pdf:
    get:
      tags: [Warranties]
      summary: Privatni PDF garantnog lista
      operationId: downloadWarrantyPdf
      parameters:
        - in: path
          name: warranty
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: PDF garantnog lista za autentifikovanog vlasnika
          headers:
            Cache-Control:
              schema: { type: string, example: "private, no-store, max-age=0" }
            X-Content-Type-Options:
              schema: { type: string, example: nosniff }
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/v1/warranties/{warranty}:
    get:
      tags: [Warranties]
      summary: Detalj sopstvene garancije
      operationId: getWarranty
      parameters:
        - in: path
          name: warranty
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: Detalj garancije sa preventivnim održavanjem
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Warranty' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/v1/commissions:
    get:
      tags: [Commissions]
      summary: Lista sopstvenih provizija
      operationId: listCommissions
      parameters:
        - { in: query, name: q, schema: { type: string, maxLength: 190 } }
        - { in: query, name: status, schema: { type: string, enum: [pending, approved, paid, cancelled] } }
        - { in: query, name: date_from, schema: { type: string, format: date } }
        - { in: query, name: date_to, schema: { type: string, format: date } }
        - { in: query, name: page, schema: { type: integer, minimum: 1, default: 1 } }
      responses:
        '200':
          description: Straničena lista sopstvenih provizija sa zbirnim iznosima
          content:
            application/json:
              schema:
                { $ref: '#/components/schemas/CommissionListResponse' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '422': { $ref: '#/components/responses/ValidationError' }
        '503': { description: Provizije trenutno nisu dostupne }

  /api/v1/commissions/{commission}:
    get:
      tags: [Commissions]
      summary: Detalj sopstvene provizije
      operationId: getCommission
      parameters:
        - in: path
          name: commission
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: Customer-safe detalj provizije
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: '#/components/schemas/Commission' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '503': { description: Provizije trenutno nisu dostupne }
  /api/v1/notifications:
    get:
      tags: [Notifications]
      summary: Lista poslovnih obaveštenja
      operationId: listNotifications
      parameters:
        - { in: query, name: unread, schema: { type: boolean, default: false } }
        - { in: query, name: per_page, schema: { type: integer, minimum: 10, maximum: 100, default: 40 } }
      responses:
        '200': { description: Straničena lista obaveštenja }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/v1/notifications/read-all:
    post:
      tags: [Notifications]
      summary: Označavanje svih obaveštenja kao pročitanih
      operationId: markAllNotificationsRead
      responses:
        '200':
          description: Broj promenjenih obaveštenja
  /api/v1/notifications/{notification}/read:
    post:
      tags: [Notifications]
      summary: Označavanje jednog obaveštenja kao pročitanog
      operationId: markNotificationRead
      parameters:
        - in: path
          name: notification
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200': { description: Obaveštenje }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/v1/admin/foundation:
    get:
      tags: [Admin]
      summary: Mobile Admin foundation capabilities
      operationId: getAdminFoundation
      responses:
        '200':
          description: Administratorski moduli dostupni prijavljenom korisniku.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/AdminFoundation'
        '401':
          description: Neautorizovan zahtev.
        '403':
          description: Korisnik nema nijedan administratorski modul.

  /api/v1/admin/commissions:
    get:
      tags: [Admin Commissions]
      summary: Administratorska lista provizija
      operationId: listAdminCommissions
      parameters:
        - { in: query, name: q, schema: { type: string, maxLength: 190 } }
        - { in: query, name: status, schema: { type: string, enum: [pending, approved, paid, cancelled] } }
        - { in: query, name: user_id, schema: { type: integer } }
        - { in: query, name: supplier_user_id, schema: { type: integer } }
        - { in: query, name: date_from, schema: { type: string, format: date } }
        - { in: query, name: date_to, schema: { type: string, format: date } }
        - { in: query, name: page, schema: { type: integer, minimum: 1 } }
        - { in: query, name: per_page, schema: { type: integer, minimum: 1, maximum: 100, default: 40 } }
      responses:
        '200':
          description: Lista, rezime, filter opcije i capability mapa
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminCommissionListResponse' }
        '403': { description: Nedovoljna dozvola commissions.manage }
        '422': { description: Neispravni filteri }
        '503': { description: Operativna commission šema nije spremna }
  /api/v1/admin/commissions/{commission}:
    get:
      tags: [Admin Commissions]
      summary: Administratorski detalj provizije
      operationId: showAdminCommission
      parameters:
        - { in: path, name: commission, required: true, schema: { type: integer } }
      responses:
        '200':
          description: Detalj sa istorijom statusa
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminCommissionDetailResponse' }
        '403': { description: Nedovoljna dozvola }
        '404': { description: Provizija nije dostupna u actor scope-u }
        '503': { description: Operativna commission šema nije spremna }
  /api/v1/admin/commissions/{commission}/status:
    patch:
      tags: [Admin Commissions]
      summary: Promena statusa kroz postojeći CommissionWorkflowService
      operationId: transitionAdminCommission
      parameters:
        - { in: path, name: commission, required: true, schema: { type: integer } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AdminCommissionTransitionInput' }
      responses:
        '200':
          description: Ažurirana provizija
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminCommissionDetailResponse' }
        '403': { description: Nedovoljna dozvola }
        '404': { description: Provizija nije dostupna u actor scope-u }
        '422': { description: Nedozvoljen prelaz ili neispravan input }
  /api/v1/admin/commissions/bulk-pay:
    post:
      tags: [Admin Commissions]
      summary: Masovna isplata odobrenih provizija kroz CommissionWorkflowService
      operationId: bulkPayAdminCommissions
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AdminCommissionBulkPayInput' }
      responses:
        '200':
          description: Kreirani payment batch
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminCommissionBulkPayResponse' }
        '403': { description: Nedovoljna dozvola }
        '422': { description: Izbor sadrži nedostupnu ili neodobrenu proviziju }
  /api/v1/admin/commissions.csv:
    get:
      tags: [Admin Commissions]
      summary: CSV izvoz provizija za isti administratorski scope i filtere
      operationId: exportAdminCommissionsCsv
      responses:
        '200':
          description: CSV izvoz
          headers:
            Cache-Control: { schema: { type: string, example: 'private, no-store, max-age=0' } }
          content:
            text/csv:
              schema: { type: string, format: binary }
        '403': { description: Nedovoljna dozvola }
        '503': { description: Operativna commission šema nije spremna }
  /api/v1/admin/commissions.pdf:
    get:
      tags: [Admin Commissions]
      summary: PDF izvoz provizija za isti administratorski scope i filtere
      operationId: exportAdminCommissionsPdf
      responses:
        '200':
          description: PDF izvoz
          headers:
            Cache-Control: { schema: { type: string, example: 'private, no-store, max-age=0' } }
          content:
            application/pdf:
              schema: { type: string, format: binary }
        '403': { description: Nedovoljna dozvola }
        '503': { description: Operativna commission šema nije spremna }
  /api/v1/admin/warranties:
    get:
      tags: [Admin Warranties]
      summary: Administratorska lista garantnih listova
      operationId: listAdminWarranties
      parameters:
        - { in: query, name: q, schema: { type: string, maxLength: 190 } }
        - { in: query, name: status, schema: { type: string, enum: [active, expired, void] } }
        - { in: query, name: maintenance, schema: { type: string, enum: [due, scheduled, overdue] } }
        - { in: query, name: page, schema: { type: integer, minimum: 1 } }
        - { in: query, name: per_page, schema: { type: integer, minimum: 1, maximum: 100, default: 40 } }
      responses:
        '200':
          description: Lista, statistika i filter opcije za actor scope
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminWarrantyListResponse' }
        '403': { description: Nedovoljna dozvola warranties.manage }
        '422': { description: Neispravni filteri }
  /api/v1/admin/warranties/rules:
    get:
      tags: [Admin Warranties]
      summary: Pravila garancije i lookup metadata
      operationId: listAdminWarrantyRules
      responses:
        '200':
          description: Pravila, kategorije i proizvodi
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminWarrantyRulesResponse' }
        '403': { description: Nedovoljna dozvola warranties.manage }
    post:
      tags: [Admin Warranties]
      summary: Kreiranje pravila garancije
      operationId: createAdminWarrantyRule
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AdminWarrantyRuleInput' }
      responses:
        '201':
          description: Kreirano pravilo
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/AdminWarrantyRule' }
        '403': { description: Nedovoljna dozvola }
        '422': { description: Validation error }
  /api/v1/admin/warranties/rules/{rule}:
    put:
      tags: [Admin Warranties]
      summary: Izmena pravila garancije
      operationId: updateAdminWarrantyRule
      parameters:
        - { in: path, name: rule, required: true, schema: { type: integer } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AdminWarrantyRuleInput' }
      responses:
        '200':
          description: Izmenjeno pravilo
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/AdminWarrantyRule' }
        '403': { description: Nedovoljna dozvola }
        '404': { description: Pravilo nije pronađeno }
        '422': { description: Validation error }
  /api/v1/admin/warranties/backfill:
    post:
      tags: [Admin Warranties]
      summary: Generisanje nedostajućih garancija iz kompletiranih porudžbina
      operationId: backfillAdminWarranties
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                limit: { type: integer, minimum: 1, maximum: 500, default: 500 }
      responses:
        '200':
          description: Backfill rezultat
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminWarrantyBackfillResponse' }
        '403': { description: Nedovoljna dozvola }
        '422': { description: Validation error }
  /api/v1/admin/warranties/{warranty}.pdf:
    get:
      tags: [Admin Warranties]
      summary: Privatni PDF garantnog lista u admin supplier scope-u
      operationId: downloadAdminWarrantyPdf
      parameters:
        - { in: path, name: warranty, required: true, schema: { type: integer } }
      responses:
        '200':
          description: PDF garantnog lista
          headers:
            Cache-Control:
              schema: { type: string, example: "private, no-store, max-age=0" }
            X-Content-Type-Options:
              schema: { type: string, example: nosniff }
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '403': { description: Nedovoljna dozvola }
        '404': { description: Garancija nije dostupna u actor scope-u }
  /api/v1/admin/warranties/{warranty}:
    get:
      tags: [Admin Warranties]
      summary: Administratorski detalj garantnog lista
      operationId: showAdminWarranty
      parameters:
        - { in: path, name: warranty, required: true, schema: { type: integer } }
      responses:
        '200':
          description: Detalj garantnog lista sa maintenance evidencijom
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminWarrantyDetailResponse' }
        '403': { description: Nedovoljna dozvola }
        '404': { description: Garancija nije dostupna u actor scope-u }
    put:
      tags: [Admin Warranties]
      summary: Izmena roka, serijskih brojeva i uslova kroz WarrantyService
      operationId: updateAdminWarranty
      parameters:
        - { in: path, name: warranty, required: true, schema: { type: integer } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AdminWarrantyUpdateInput' }
      responses:
        '200':
          description: Ažuriran garantni list
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminWarrantyDetailResponse' }
        '403': { description: Nedovoljna dozvola }
        '404': { description: Garancija nije dostupna u actor scope-u }
        '422': { description: Validation ili business rule greška }
  /api/v1/admin/warranties/{warranty}/void:
    post:
      tags: [Admin Warranties]
      summary: Poništavanje garancije kroz WarrantyService
      operationId: voidAdminWarranty
      parameters:
        - { in: path, name: warranty, required: true, schema: { type: integer } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AdminWarrantyVoidInput' }
      responses:
        '200':
          description: Poništen garantni list
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminWarrantyDetailResponse' }
        '403': { description: Nedovoljna dozvola }
        '404': { description: Garancija nije dostupna u actor scope-u }
        '422': { description: Razlog ili poslovno pravilo nije validno }
  /api/v1/admin/warranties/{warranty}/maintenance/{record}/schedule:
    post:
      tags: [Admin Warranties]
      summary: Zakazivanje preventivnog održavanja kroz WarrantyService
      operationId: scheduleAdminWarrantyMaintenance
      parameters:
        - { in: path, name: warranty, required: true, schema: { type: integer } }
        - { in: path, name: record, required: true, schema: { type: integer } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AdminWarrantyScheduleInput' }
      responses:
        '200':
          description: Ažuriran garantni list
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminWarrantyDetailResponse' }
        '403': { description: Nedovoljna dozvola }
        '404': { description: Garancija ili maintenance zapis nije dostupan }
        '422': { description: Termin nije validan }
  /api/v1/admin/warranties/{warranty}/maintenance/{record}/complete:
    post:
      tags: [Admin Warranties]
      summary: Evidentiranje završenog preventivnog održavanja kroz WarrantyService
      operationId: completeAdminWarrantyMaintenance
      parameters:
        - { in: path, name: warranty, required: true, schema: { type: integer } }
        - { in: path, name: record, required: true, schema: { type: integer } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AdminWarrantyCompleteInput' }
      responses:
        '200':
          description: Ažuriran garantni list
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminWarrantyDetailResponse' }
        '403': { description: Nedovoljna dozvola }
        '404': { description: Garancija ili maintenance zapis nije dostupan }
        '422': { description: Završetak nije validan }
security:
  - bearerAuth: []
  /api/v1/admin/reports/management:
    get:
      tags: [Admin Reports]
      summary: Upravljački izveštaj za mobilni Admin panel
      operationId: getAdminManagementReport
      parameters:
        - { in: query, name: date_from, schema: { type: string, format: date } }
        - { in: query, name: date_to, schema: { type: string, format: date } }
        - { in: query, name: scope, schema: { type: string, enum: [completed, active, all] } }
        - { in: query, name: group_by, schema: { type: string, enum: [brand, line, type, product, admin] } }
        - { in: query, name: supplier_user_id, schema: { type: integer, minimum: 1 } }
        - { in: query, name: brand, schema: { type: string } }
        - { in: query, name: line, schema: { type: string } }
        - { in: query, name: type, schema: { type: string } }
        - { in: query, name: q, schema: { type: string } }
        - { in: query, name: report_type, schema: { type: string, enum: [management_summary, profitability, inventory, receivables, after_sales], default: management_summary } }
      responses:
        '200':
          description: Upravljački izveštaj
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminManagementReportResponse' }
        '401': { description: Nije autentifikovan }
        '403': { description: Nedovoljna dozvola reports.view }
        '422': { description: Neispravni filteri ili tip izveštaja }
        '503': { description: Izveštaj trenutno nije dostupan }
  /api/v1/admin/reports/management.csv:
    get:
      tags: [Admin Reports]
      summary: Privatni CSV upravljačkog izveštaja
      operationId: downloadAdminManagementReportCsv
      parameters:
        - { in: query, name: date_from, schema: { type: string, format: date } }
        - { in: query, name: date_to, schema: { type: string, format: date } }
        - { in: query, name: scope, schema: { type: string, enum: [completed, active, all] } }
        - { in: query, name: group_by, schema: { type: string, enum: [brand, line, type, product, admin] } }
        - { in: query, name: supplier_user_id, schema: { type: integer, minimum: 1 } }
        - { in: query, name: brand, schema: { type: string } }
        - { in: query, name: line, schema: { type: string } }
        - { in: query, name: type, schema: { type: string } }
        - { in: query, name: q, schema: { type: string } }
        - { in: query, name: report_type, schema: { type: string, enum: [management_summary, profitability, inventory, receivables, after_sales], default: management_summary } }
      responses:
        '200':
          description: CSV upravljačkog izveštaja
          headers:
            Cache-Control:
              schema: { type: string, example: "private, no-store, max-age=0" }
            X-Content-Type-Options:
              schema: { type: string, example: nosniff }
          content:
            text/csv:
              schema:
                type: string
                format: binary
        '401': { description: Nije autentifikovan }
        '403': { description: Nedovoljna dozvola reports.export }
        '422': { description: Neispravni filteri ili tip izveštaja }
        '429': { description: Export rate limit }
        '503': { description: Izveštaj trenutno nije dostupan }
  /api/v1/admin/reports/management.pdf:
    get:
      tags: [Admin Reports]
      summary: Privatni PDF upravljačkog izveštaja
      operationId: downloadAdminManagementReportPdf
      parameters:
        - { in: query, name: date_from, schema: { type: string, format: date } }
        - { in: query, name: date_to, schema: { type: string, format: date } }
        - { in: query, name: scope, schema: { type: string, enum: [completed, active, all] } }
        - { in: query, name: group_by, schema: { type: string, enum: [brand, line, type, product, admin] } }
        - { in: query, name: supplier_user_id, schema: { type: integer, minimum: 1 } }
        - { in: query, name: brand, schema: { type: string } }
        - { in: query, name: line, schema: { type: string } }
        - { in: query, name: type, schema: { type: string } }
        - { in: query, name: q, schema: { type: string } }
        - { in: query, name: report_type, schema: { type: string, enum: [management_summary, profitability, inventory, receivables, after_sales], default: management_summary } }
      responses:
        '200':
          description: PDF upravljačkog izveštaja
          headers:
            Cache-Control:
              schema: { type: string, example: "private, no-store, max-age=0" }
            X-Content-Type-Options:
              schema: { type: string, example: nosniff }
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '401': { description: Nije autentifikovan }
        '403': { description: Nedovoljna dozvola reports.export }
        '422': { description: Neispravni filteri ili tip izveštaja }
        '429': { description: Export rate limit }
        '503': { description: Izveštaj trenutno nije dostupan }
  /api/v1/admin/report-schedules:
    get:
      tags: [Admin Reports]
      summary: Rasporedi i poslednje isporuke izveštaja
      operationId: listAdminReportSchedules
      responses:
        '200':
          description: Rasporedi i poslednje isporuke
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminReportSchedulesResponse' }
        '401': { description: Nije autentifikovan }
        '403': { description: Nedovoljna dozvola reports.manage }
        '503': { description: Rasporedi trenutno nisu dostupni }
    post:
      tags: [Admin Reports]
      summary: Kreiranje rasporeda izveštaja
      operationId: createAdminReportSchedule
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AdminReportScheduleInput' }
      responses:
        '201':
          description: Raspored je kreiran
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminReportScheduleMutationResponse' }
        '401': { description: Nije autentifikovan }
        '403': { description: Nedovoljna dozvola reports.manage }
        '422': { description: Validation error }
        '429': { description: Admin write rate limit }
  /api/v1/admin/report-schedules/{schedule}:
    patch:
      tags: [Admin Reports]
      summary: Izmena rasporeda izveštaja
      operationId: updateAdminReportSchedule
      parameters:
        - { in: path, name: schedule, required: true, schema: { type: integer } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AdminReportScheduleInput' }
      responses:
        '200':
          description: Raspored je izmenjen
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminReportScheduleMutationResponse' }
        '401': { description: Nije autentifikovan }
        '403': { description: Nedovoljna dozvola reports.manage }
        '404': { description: Raspored nije pronađen }
        '422': { description: Validation error }
        '429': { description: Admin write rate limit }
    delete:
      tags: [Admin Reports]
      summary: Brisanje rasporeda izveštaja
      operationId: deleteAdminReportSchedule
      parameters:
        - { in: path, name: schedule, required: true, schema: { type: integer } }
      responses:
        '200':
          description: Raspored je obrisan
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminReportScheduleDeleteResponse' }
        '401': { description: Nije autentifikovan }
        '403': { description: Nedovoljna dozvola reports.manage }
        '404': { description: Raspored nije pronađen }
        '429': { description: Admin write rate limit }
  /api/v1/admin/report-schedules/{schedule}/toggle:
    patch:
      tags: [Admin Reports]
      summary: Aktiviranje ili pauziranje rasporeda
      operationId: toggleAdminReportSchedule
      parameters:
        - { in: path, name: schedule, required: true, schema: { type: integer } }
      responses:
        '200':
          description: Novo stanje rasporeda
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminReportScheduleMutationResponse' }
        '401': { description: Nije autentifikovan }
        '403': { description: Nedovoljna dozvola reports.manage }
        '404': { description: Raspored nije pronađen }
        '429': { description: Admin write rate limit }
  /api/v1/admin/report-schedules/{schedule}/run:
    post:
      tags: [Admin Reports]
      summary: Ručno stavljanje isporuka rasporeda u red
      operationId: runAdminReportSchedule
      parameters:
        - { in: path, name: schedule, required: true, schema: { type: integer } }
      responses:
        '202':
          description: Isporuke su stavljene u red
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminReportScheduleRunResponse' }
        '401': { description: Nije autentifikovan }
        '403': { description: Nedovoljna dozvola reports.manage }
        '404': { description: Raspored nije pronađen }
        '429': { description: Admin write rate limit }
  /api/v1/admin/report-deliveries/{delivery}/retry:
    post:
      tags: [Admin Reports]
      summary: Ponovno zakazivanje neuspele isporuke izveštaja
      operationId: retryAdminReportDelivery
      parameters:
        - { in: path, name: delivery, required: true, schema: { type: integer } }
      responses:
        '202':
          description: Ponovno slanje je zakazano
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminReportDeliveryMutationResponse' }
        '401': { description: Nije autentifikovan }
        '403': { description: Nedovoljna dozvola reports.manage }
        '404': { description: Isporuka nije pronađena }
        '422': { description: Isporuka nije podobna za retry }
        '429': { description: Admin write rate limit }
  /api/v1/admin/system-health:
    get:
      tags: [Admin System Health]
      summary: Read-only pregled trenutnog zdravlja sistema i istorije snapshot-a
      operationId: getAdminSystemHealth
      responses:
        '200':
          description: Trenutno stanje sistema, read-only istorija i capability ugovor
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminSystemHealthResponse' }
        '401': { description: Nije autentifikovan }
        '403': { description: Nedovoljna dozvola system.health }
        '503': { description: System Health trenutno nije dostupan }
  /api/v1/admin/audit-events:
    get:
      tags: [Admin Audit]
      summary: Read-only lista sanitizovanih security audit dogadjaja
      operationId: listAdminAuditEvents
      parameters:
        - { in: query, name: action, schema: { type: string, maxLength: 160 } }
        - { in: query, name: level, schema: { type: string, maxLength: 40 } }
        - { in: query, name: user_id, schema: { type: integer, minimum: 1 } }
        - { in: query, name: date_from, schema: { type: string, format: date } }
        - { in: query, name: date_to, description: Mora biti isti ili kasniji datum od date_from kada je date_from zadat., schema: { type: string, format: date } }
        - { in: query, name: page, schema: { type: integer, minimum: 1 } }
        - { in: query, name: per_page, schema: { type: integer, enum: [20, 50, 100], default: 20 } }
      responses:
        '200':
          description: Sanitizovana read-only lista audit dogadjaja sa filter opcijama i paginacijom
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminAuditEventsResponse' }
        '401': { description: Nije autentifikovan }
        '403': { description: Nedovoljna dozvola security.view }
        '422': { description: Filteri audit dogadjaja nisu validni }
        '503': { description: Audit dogadjaji trenutno nisu dostupni }
  /api/v1/admin/audit-events/{event}:
    get:
      tags: [Admin Audit]
      summary: Read-only bezbedni detalj jednog security audit dogadjaja
      operationId: getAdminAuditEvent
      parameters:
        - { in: path, name: event, required: true, schema: { type: integer, minimum: 1 } }
      responses:
        '200':
          description: Sanitizovani detalj audit dogadjaja bez raw user-agent/context payload-a
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminAuditEventDetailResponse' }
        '401': { description: Nije autentifikovan }
        '403': { description: Nedovoljna dozvola security.view }
        '404': { description: Audit dogadjaj nije pronadjen }
  /api/v1/admin/orders:
    get:
      summary: List administrable orders
      operationId: adminOrdersIndex
      security:
        - bearerAuth: []
      responses:
        '200': { description: Admin order list and server-driven filters. }
        '401': { description: Authentication required. }
        '403': { description: orders.manage permission required. }
  /api/v1/admin/orders/{order}:
    parameters:
      - { name: order, in: path, required: true, schema: { type: integer } }
    get:
      summary: Read administrable order detail
      operationId: adminOrdersShow
      security:
        - bearerAuth: []
      responses:
        '200': { description: Admin order detail with capabilities. }
        '401': { description: Authentication required. }
        '403': { description: orders.manage permission and managed scope required. }
        '404': { description: Order not found. }
  /api/v1/admin/orders/{order}/status:
    parameters:
      - { name: order, in: path, required: true, schema: { type: integer } }
    patch:
      summary: Change order status without bypassing shipment workflow
      operationId: adminOrdersStatus
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status: { type: string, enum: [new, processing, confirmed, cancelled] }
                note: { type: string, nullable: true, maxLength: 1000 }
      responses:
        '200': { description: Status changed through OrderWorkflowService. }
        '403': { description: orders.manage permission and managed scope required. }
        '422': { description: Invalid or disallowed transition. }
        '429': { description: Admin write rate limit exceeded. }
  /api/v1/admin/orders/{order}/accept:
    parameters:
      - { name: order, in: path, required: true, schema: { type: integer } }
    post:
      summary: Accept order for processing
      operationId: adminOrdersAccept
      security:
        - bearerAuth: []
      responses:
        '200': { description: Order accepted through OrderOperationalService. }
        '403': { description: orders.manage permission and managed scope required. }
        '422': { description: Order cannot be accepted in its current state. }
        '429': { description: Admin write rate limit exceeded. }
  /api/v1/admin/orders/{order}/internal-notes:
    parameters:
      - { name: order, in: path, required: true, schema: { type: integer } }
    post:
      summary: Add internal order note
      operationId: adminOrdersInternalNote
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [note]
              properties:
                note: { type: string, maxLength: 5000 }
      responses:
        '200': { description: Internal note added through OrderOperationalService. }
        '403': { description: orders.manage and orders.internal_notes permissions required. }
        '422': { description: Validation failed. }
        '429': { description: Admin write rate limit exceeded. }
  /api/v1/admin/orders/{order}/reassign:
    parameters:
      - { name: order, in: path, required: true, schema: { type: integer } }
    patch:
      summary: Reassign order to another active admin supplier
      operationId: adminOrdersReassign
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [supplier_user_id, reason]
              properties:
                supplier_user_id: { type: integer, minimum: 1 }
                reason: { type: string, maxLength: 2000 }
      responses:
        '200': { description: Order reassigned through OrderOperationalService. }
        '403': { description: SuperAdmin plus orders.reassign permission required. }
        '422': { description: Invalid supplier or reassignment request. }
        '429': { description: Admin write rate limit exceeded. }
  /api/v1/admin/orders/{order}/deadlines:
    parameters:
      - { name: order, in: path, required: true, schema: { type: integer } }
    patch:
      summary: Update expected processing and shipping deadlines
      operationId: adminOrdersDeadlines
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                expected_processing_at: { type: string, format: date-time, nullable: true }
                expected_shipping_at: { type: string, format: date-time, nullable: true }
      responses:
        '200': { description: Deadlines updated through OrderOperationalService. }
        '403': { description: orders.manage permission and managed scope required. }
        '422': { description: Validation failed. }
        '429': { description: Admin write rate limit exceeded. }
  /api/v1/admin/orders/{order}/payment-status:
    parameters:
      - { name: order, in: path, required: true, schema: { type: integer } }
    patch:
      summary: Update legacy order payment status
      operationId: adminOrdersPaymentStatus
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [payment_status]
              properties:
                payment_status: { type: string, enum: [pending, paid, cancelled] }
      responses:
        '200': { description: Payment status updated through OrderWorkflowService. }
        '403': { description: orders.manage permission and managed scope required. }
        '422': { description: Validation failed or completed order is locked. }
        '429': { description: Admin write rate limit exceeded. }
  /api/v1/admin/orders/{order}/complete:
    parameters:
      - { name: order, in: path, required: true, schema: { type: integer } }
    post:
      summary: Confirm actual delivery and complete the order
      operationId: adminOrdersComplete
      security:
        - bearerAuth: []
      requestBody:
        required: false
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                delivery_method: { type: string, enum: [own_transport, courier, customer_pickup, other] }
                delivered_at: { type: string, format: date-time }
                recipient_name: { type: string, maxLength: 190 }
                recipient_phone: { type: string, nullable: true, maxLength: 190 }
                delivery_note: { type: string, nullable: true, maxLength: 3000 }
                completion_note: { type: string, nullable: true, maxLength: 1000 }
                delivery_proof: { type: string, format: binary, nullable: true }
      responses:
        '200': { description: Delivery confirmed and order completed through OrderWorkflowService. }
        '403': { description: orders.confirm_delivery permission and managed scope required. }
        '422': { description: Order cannot be completed or delivery data is invalid. }
        '429': { description: Admin write rate limit exceeded. }
  /api/v1/admin/orders/{order}/reopen:
    parameters:
      - { name: order, in: path, required: true, schema: { type: integer } }
    post:
      summary: Reopen a completed order for controlled correction
      operationId: adminOrdersReopen
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason: { type: string, maxLength: 2000 }
      responses:
        '200': { description: Order reopened through OrderWorkflowService. }
        '403': { description: orders.reopen permission and managed scope required. }
        '422': { description: Order is not eligible for reopen. }
        '429': { description: Admin write rate limit exceeded. }
  /api/v1/admin/orders/{order}/payments:
    parameters:
      - { name: order, in: path, required: true, schema: { type: integer } }
    post:
      summary: Record an admin payment or refund ledger entry
      operationId: adminOrdersPaymentStore
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [entry_type, amount_rsd, payment_method, paid_at]
              properties:
                entry_type: { type: string, enum: [payment, refund] }
                amount_rsd: { type: number, format: double, minimum: 0.01 }
                payment_method: { type: string, enum: [bank_transfer, cash, cash_on_delivery, card, other] }
                paid_at: { type: string, format: date-time }
                reference: { type: string, nullable: true, maxLength: 190 }
                note: { type: string, nullable: true, maxLength: 2000 }
      responses:
        '200': { description: Ledger entry recorded through OrderPaymentService. }
        '403': { description: orders.manage and payments.manage permissions required. }
        '422': { description: Payment data is invalid for the order. }
        '429': { description: Admin write rate limit exceeded. }
  /api/v1/admin/orders/{order}/payments/{payment}/verify:
    parameters:
      - { name: order, in: path, required: true, schema: { type: integer } }
      - { name: payment, in: path, required: true, schema: { type: integer } }
    post:
      summary: Verify submitted payment proof
      operationId: adminOrdersPaymentVerify
      security:
        - bearerAuth: []
      responses:
        '200': { description: Payment verified through OrderPaymentService. }
        '403': { description: orders.manage and payments.manage permissions required. }
        '404': { description: Payment does not belong to the order. }
        '422': { description: Payment is not verifiable in its current state. }
        '429': { description: Admin write rate limit exceeded. }
  /api/v1/admin/orders/{order}/payments/{payment}/reject:
    parameters:
      - { name: order, in: path, required: true, schema: { type: integer } }
      - { name: payment, in: path, required: true, schema: { type: integer } }
    post:
      summary: Reject submitted payment proof
      operationId: adminOrdersPaymentReject
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason: { type: string, maxLength: 2000 }
      responses:
        '200': { description: Payment rejected through OrderPaymentService. }
        '403': { description: orders.manage and payments.manage permissions required. }
        '404': { description: Payment does not belong to the order. }
        '422': { description: Payment is not rejectable in its current state. }
        '429': { description: Admin write rate limit exceeded. }
  /api/v1/admin/orders/{order}/payments/{payment}/void:
    parameters:
      - { name: order, in: path, required: true, schema: { type: integer } }
      - { name: payment, in: path, required: true, schema: { type: integer } }
    post:
      summary: Void a verified payment ledger entry
      operationId: adminOrdersPaymentVoid
      security:
[...]
